<form name="credentialForm">
  <div class="modal-header">
    <h3 class="modal-title">{{ titlePrefix }} Credential</h3>
  </div>
  <div class="modal-body container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <label>Name</label>
        <div class="input-group">
          <input name="name" ng-model="credential.name" required type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label>User</label>
        <div class="input-group">
          <select
            name="userId"
            ng-model="credential.userId"
            ng-options="user.id as user.name for user in userList"
            required
            class="form-control">
            <option value="" selected></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label>type</label>
        <div class="input-group">
          <select
            name="type"
            ng-model="credential.type"
            required
            class="form-control">
            <option value="" selected></option>
            <option value="PIN">Pin</option>
            <option value="RFID">RFID</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label>Value</label>
        <div class="input-group">
          <input name="value" ng-model="credential.value" required type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-click="ok()" value="OK"/>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
