<div class="container-fluid">
  <div class="row">
    <div class="btn-group">
      <button ng-click="addCredential()" class="btn btn-success">Add Credential</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>User</th>
          <th>Type</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="credential in credentialList">
          <td>{{ credential.id }}</td>
          <td>{{ credential.name }}</td>
          <td>{{ credential.user.name }}</td>
          <td>{{ credential.type }}</td>
          <td>{{ credential.value }}</td>
          <td>
            <div class="btn-group btn-group-sm" dropdown>
              <button class="btn btn-primary" ng-click="editCredential(credential)">Edit</button>
              <button class="btn btn-primary dropdown-toggle" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li class="menuitem"><a href="#" ng-click="deleteCredential(credential); $event.preventDefault()">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
