<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="navToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="app.lights" class="navbar-brand">Rosie</a>
    </div>

    <div class="navbar-header collapse navbar-collapse" collapse="navCollapsed">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app.lights" ng-click="navCollapse()">Lights</a></li>
        <li><a ui-sref="app.remotes" ng-click="navCollapse()">Remotes</a></li>
        <li><a ui-sref="app.tasks" ng-click="navCollapse()">Tasks</a></li>
      </ul>
    </div>
  </div>
</header>
