<ol class="breadcrumb">
  <li>Tasks</li>
</ol>
<div class="container-fluid">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task</th>
          <th>Run At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <div class="btn-group">
          <button ng-click="addTask()" class="btn btn-success">Add Task</button>
        </div>
        <tr ng-repeat="task in taskList">
          <td>{{ "tasks." + task.type | translate }}</td>
          <td>
            {{ task.promote_at | date: "yyyy-MM-dd HH:mm" }}
            <span class="text-muted">(Runs <span am-time-ago="task.promote_at"></span>)</span>
          </td>
          <td>
            <div class="btn-group btn-group-sm" dropdown>
              <button class="btn btn-primary" ng-click="editTask(task)">Edit</button>
              <button class="btn btn-primary dropdown-toggle" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li class="menuitem"><a href="#" ng-click="deleteTask(task); $event.preventDefault()">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
