
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 btn-group btn-group-lg text-center" role="group">
      <button type="button" class="btn btn-default col-xs-4" role="button" ng-click="sendCmd('ps')">PS</button>
      <button type="button" class="btn btn-default col-xs-4" role="button" ng-click="sendCmd('up')">
        <i class="glyphicon glyphicon-arrow-up"></i>
      </button>
      <button type="button" class="btn btn-default col-xs-4" role="button" ng-click="sendCmd('eject')">Eject</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 btn-group btn-group-lg text-center" role="group">
      <button type="button" class="btn btn-default col-xs-4" role="button" ng-click="sendCmd('left')">
        <i class="glyphicon glyphicon-arrow-left"></i>
      </button>
      <button type="button" class="btn btn-default col-xs-4" role="button" ng-click="sendCmd('ok')">OK</button>
      <button type="button" class="btn btn-default col-xs-4" role="button" ng-click="sendCmd('right')">
        <i class="glyphicon glyphicon-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 btn-group btn-group-lg text-center" role="group">
      <button type="button" class="btn btn-default col-xs-12" role="button" ng-click="sendCmd('down')">
        <i class="glyphicon glyphicon-arrow-down"></i>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 btn-group btn-group-lg text-center" role="group">
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('stop')">Stop</button>
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('play')">Play</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 btn-group btn-group-lg text-center" role="group">
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('time')">Time</button>
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('pause')">Pause</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 btn-group btn-group-lg text-center" role="group">
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('previous')">Previous</button>
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('next')">Next</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 btn-group btn-group-lg text-center" role="group">
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('reverse')">Reverse</button>
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('forward')">Forward</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 btn-group btn-group-lg text-center" role="group">
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('triangle')">Triangle</button>
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('circle')">Circle</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 btn-group btn-group-lg text-center" role="group">
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('square')">Square</button>
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('x')">X</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 btn-group btn-group-lg text-center" role="group">
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('audio')">Audio</button>
    <button type="button" class="btn btn-default col-xs-6" role="button" ng-click="sendCmd('subtitle')">Subtitle</button>
  </div>
</div>
